{% include header.html %}
    <div class="wrapper">
      <div class="content">
        {% if page.wide %}
          <div class="container-fluid d-flex flex-column container-center">
            <div class="row grow w-100">
              {% include postbody.html %}
            </div>
          </div>
        {% else %}
          <div class="container container-center">
            <div class="row">
              {% include postbody.html %}
            </div>
          </div>
        {% endif %}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>